<ion-header-bar align-title="center" class="bar-app-header">
    <h1 class="title">Metodología de la Investigación</h1>
</ion-header-bar>

<ion-view class="has-header ">
    <ion-content class="app-student-content has-footer">


        <div class="content-options content-clase">

            <div class="info_student ">
                <h4 class="text-center">ASISTENCIAS</h4>

                <p class="notification">23 Marzo 2015</p>

                <ul class="list text-left">
                    <li class="item item-checkbox" ng-repeat="alumno in assistances.alumnos">
                        <label class="checkbox checkbox-balanced">
                            <input type="checkbox" ng-value="{{alumno.id}}" ng-checked="selection.indexOf(alumno) > -1" ng-click="toggleSelection(alumno)">
                        </label>
                        {{alumno.name}} {{alumno.last_name}}
                    </li>

                </ul>

                <div class="text-right">
                    <button class="button button-outline button-balanced">
                        ENVIAR
                    </button>
                </div>


            </div>

        </div>

    </ion-content>

</ion-view>






