<ion-header-bar align-title="center" class="bar-app-header">
    <h1 class="title">Metodología de la Investigación</h1>
</ion-header-bar>

<ion-view class="has-header ">
    <ion-content class="app-student-content has-footer">
        <div class="content-options content-clase">

            <div class="info_student ">
                <h4 class="text-center">ASISTENCIAS</h4>
                <p class="notification" >{{date}}</p>

                <form ng-submit="submitAssistance(formData)" >
                <ul class="list text-left">
                    <li class="item item-checkbox" ng-repeat="alumno in assistances.alumnos">
                        <label class="checkbox checkbox-balanced">
                            <input type="checkbox" name="alumno.id" ng-model="formData.asistencias[alumno.id]">
                        </label>
                        {{alumno.name}} {{alumno.last_name}}
                    </li>
                </ul>
                </form>
<!--     <li class="item item-checkbox">
        {{ formData }}
    </li> -->

                <div class="text-right">
                    <button class="button button-outline button-balanced" ng-click="sendAssistance(formData, assistances.clase.id, assistances.clase.teacher_id)">
                        ENVIAR
                    </button>
                </div>

            </div>

        </div>

    </ion-content>

</ion-view>






