<ion-header-bar align-title="center" class="bar-app-header" xmlns="http://www.w3.org/1999/html">
    <h1 class="title">Calificaciones</h1>
</ion-header-bar>

<ion-view class="has-header ">
    <ion-content class="app-student-content has-footer">

        <div class="content-picture">
            <div class="offer_name">SEGUNDO SEMESTRE <br/> DISEÑO DE INTERIORES Y ARQUITECTURA SUSTEMTABLE</div>
            <div class="picture_student">
                <img src="http://coo5.tuvotacion.com:81/imagenes_opciones/cual-es-el-chico-mas-guapo-y-sexy-68390.jpg"
                    alt="student_name" class="picture"/>
            </div>
        </div>

        <div class="content-options">
            <div class="info_student">
                PERLA GUADALUPE DE JESUS RAYA OCHOA <br/>
                <span class="email_student"><i class="icon ion-android-mail"></i>&nbsp;unemailmuymuylargo@otrodominiolargo.com</span>
            </div>

            <h4>Evaluaciones</h4>

                     <ion-list>
        <div ng-repeat="group in groups">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            Group {{group.name}}
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)">
            {{item}}
          </ion-item>
        </div>
      </ion-list>


        </div>

    </ion-content>

</ion-view>






