<ion-header-bar align-title="center" class="bar-app-header" >
    <h1 class="title">{{clases.subject.name}}</h1>
</ion-header-bar>

<ion-view class="has-header ">
    <ion-content class="app-student-content has-footer">

        <div class="content-options content-clase">

            <div class="info_student ">
                <h4 class="text-center">HORARIOS</h4>

                <ul class="list-schedule" ng-repeat="clase in clases.week" >
                    <li><i class="ion ion-navigate"></i> {{clase.name}} </li>
                    <li><i class="ion ion-android-clock"></i> {{clase.pivot.time_start}} a {{clase.pivot.time_end}} </li>
                    <li><i class="ion ion-pin"></i> Salón {{clase.pivot.classroom_id}} </li>
                </ul>



            </div>


            <div class="list menu_teacher">

                <a class="item item-icon-left item-icon-right text-left" href="#">
                    <i class="icon ion-checkmark-circled"></i>
                    Asistencias
                    <i class="icon arrow-more ion-chevron-right"></i>
                </a>

                <a class="item item-icon-left item-icon-right text-left" href="#">
                    <i class="icon ion-clipboard"></i>
                    Calificaciones
                    <i class="icon arrow-more ion-chevron-right"></i>
                </a>



            </div>



        </div>

    </ion-content>

</ion-view>






