<ion-header-bar align-title="center" class="bar-app-header">
    <h1 class="title">Horario</h1>
</ion-header-bar>

<ion-view class="has-header ">
    <ion-content class="app-student-content has-footer">

        <div class="content-picture">
            <div class="offer_name">SEGUNDO SEMESTRE <br/> DISEÑO DE INTERIORES Y ARQUITECTURA SUSTEMTABLE</div>
            <div class="picture_student">
                <img src="http://coo5.tuvotacion.com:81/imagenes_opciones/cual-es-el-chico-mas-guapo-y-sexy-68390.jpg"
                    alt="student_name" class="picture" ui-sref="home.changePicture"/>
            </div>
        </div>

        <div class="content-options">
            <div class="info_student">
                {{user.name}} {{user.last_name}} <br/>
                <span class="email_student"><i class="icon ion-android-mail"></i>&nbsp; {{user.email}}</span>
            </div>
            <div class="schedule-tabs">
                <ul class="tabs">
                    <li>
                        <input type="radio" name="tabs" id="tab1" checked />
                        <label for="tab1">L</label>
                        <div id="tab-content1" class="tab-content">
                            <div class="list">
                                <a class="item-subject item item-thumbnail-left" ng-repeat="schedule in schedule.week[0].classes" href="#">
                                    <div class="picture_teacher">
                                        <img src="http://www.tvshow.com.uy/files/article_main/uploads/2013/04/17/516eaaa62fc3d.jpg" class="circle-img">
                                    </div>
                                    <div class="info-subject">
                                        {{schedule.subject_id.name}}<br/>
                                        <span>Prof(a)</span> {{schedule.teacher_id.name}} {{schedule.teacher_id.last_name}}<br/>
                                        Aula {{schedule.classroom_id}} <br/>
                                        <span class="time"><i class="ion icon ion-clock"></i>&nbsp; {{schedule.time_start}}-{{schedule.time_end}}</span>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </li>

                    <li>
                        <input type="radio" name="tabs" id="tab2" />
                        <label for="tab2">M</label>
                        <div id="tab-content2" class="tab-content">
                            <div class="list">
                                <a class="item-subject item item-thumbnail-left" ng-repeat="schedule in schedule.week[1].classes" href="#">
                                    <div class="picture_teacher">
                                        <img src="http://www.tvshow.com.uy/files/article_main/uploads/2013/04/17/516eaaa62fc3d.jpg" class="circle-img">
                                    </div>
                                    <div class="info-subject">
                                        {{schedule.subject_id.name}}<br/>
                                        <span>Prof(a)</span> {{schedule.teacher_id.name}} {{schedule.teacher_id.last_name}}<br/>
                                        Aula {{schedule.classroom_id}} <br/>
                                        <span class="time"><i class="ion icon ion-clock"></i>&nbsp; {{schedule.time_start}}-{{schedule.time_end}}</span>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </li>
                    <li>
                        <input type="radio" name="tabs" id="tab3" />
                        <label for="tab3">M</label>
                        <div id="tab-content3" class="tab-content">
                            <a class="item-subject item item-thumbnail-left" ng-repeat="schedule in schedule.week[2].classes" href="#">
                                    <div class="picture_teacher">
                                        <img src="http://www.tvshow.com.uy/files/article_main/uploads/2013/04/17/516eaaa62fc3d.jpg" class="circle-img">
                                    </div>
                                    <div class="info-subject">
                                        {{schedule.subject_id.name}}<br/>
                                        <span>Prof(a)</span> {{schedule.teacher_id.name}} {{schedule.teacher_id.last_name}}<br/>
                                        Aula {{schedule.classroom_id}} <br/>
                                        <span class="time"><i class="ion icon ion-clock"></i>&nbsp; {{schedule.time_start}}-{{schedule.time_end}}</span>
                                    </div>
                                </a>
                        </div>
                    </li>
                    <li>
                        <input type="radio" name="tabs" id="tab4" />
                        <label for="tab4">J</label>
                        <div id="tab-content4" class="tab-content">
                        <a class="item-subject item item-thumbnail-left" ng-repeat="schedule in schedule.week[3].classes" href="#">
                                    <div class="picture_teacher">
                                        <img src="http://www.tvshow.com.uy/files/article_main/uploads/2013/04/17/516eaaa62fc3d.jpg" class="circle-img">
                                    </div>
                                    <div class="info-subject">
                                        {{schedule.subject_id.name}}<br/>
                                        <span>Prof(a)</span> {{schedule.teacher_id.name}} {{schedule.teacher_id.last_name}}<br/>
                                        Aula {{schedule.classroom_id}} <br/>
                                        <span class="time"><i class="ion icon ion-clock"></i>&nbsp; {{schedule.time_start}}-{{schedule.time_end}}</span>
                                    </div>
                                </a>
                        </div>
                    </li>
                    <li>
                        <input type="radio" name="tabs" id="tab5" />
                        <label for="tab5">V</label>
                        <div id="tab-content5" class="tab-content">
                        <a class="item-subject item item-thumbnail-left" ng-repeat="schedule in schedule.week[4].classes" href="#">
                                    <div class="picture_teacher">
                                        <img src="http://www.tvshow.com.uy/files/article_main/uploads/2013/04/17/516eaaa62fc3d.jpg" class="circle-img">
                                    </div>
                                    <div class="info-subject">
                                        {{schedule.subject_id.name}}<br/>
                                        <span>Prof(a)</span> {{schedule.teacher_id.name}} {{schedule.teacher_id.last_name}}<br/>
                                        Aula {{schedule.classroom_id}} <br/>
                                        <span class="time"><i class="ion icon ion-clock"></i>&nbsp; {{schedule.time_start}}-{{schedule.time_end}}</span>
                                    </div>
                                </a>
                        </div>
                    </li>
                </ul>
            </div> <!-- cd-tabs -->



        </div>

    </ion-content>

</ion-view>






