<ion-header-bar align-title="center" class="bar-app-header">
    <h1 class="title">Perfil</h1>
</ion-header-bar>

<ion-view class="has-header ">
    <ion-content class="app-student-content has-footer">

        <div class="content-picture">
            <div class="offer_name">{{user.semester.name}} <br/> {{user.offer.name}}</div>
            <div class="picture_student">
                <img src={{"http://coo5.tuvotacion.com:81/imagenes_opciones/cual-es-el-chico-mas-guapo-y-sexy-68390.jpg"}}
                    alt="student_name" class="picture" ui-sref="home.changePicture"/>


                <!-- <img src={{user.photo}}
                    alt="student_name" class="picture"/> -->
            </div>
        </div>

        <div class="content-options">
            <div class="info_student">
                {{user.name}} {{user.last_name}}<br/>
                <span class="email_student"><i class="icon ion-android-mail"></i> {{user.email}}</span>
            </div>

            <div class="list">

                <a class="item item-icon-left item-icon-right text-left" ui-sref="home.schedule">
                    <i class="icon ion-calendar"></i>
                    Horario
                    <i class="icon arrow-more ion-chevron-right"></i>
                </a>

                <a class="item item-icon-left item-icon-right text-left" ui-sref="home.before_score">
                    <i class="icon ion-clipboard"></i>
                    Calificaciones
                    <i class="icon arrow-more ion-chevron-right"></i>
                </a>



            </div>
            <p class="notification">La sección de calificaciones estará activa durante el periodo de entrega.</p>

        </div>
            <a class="item item-icon-left item-icon-right text-left" ui-sref="home.edit">
                    <i class="icon ion-edit"></i>
                    Editar perfil
                    <i class="icon arrow-more ion-chevron-right"></i>
                </a>
    </ion-content>

</ion-view>






